:root{
  --font-primary:Tahoma;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.theme-dark {
  --background-tertiary:#15304C;
  --scrollbar-thin-thumb: #15304C;
  --scrollbar-auto-thumb: #15304C;
  --scrollbar-auto-scrollbar-color-thumb:rgb(21,48,76);
  --activity-card-background: #15304C;
  --deprecated-text-input-border-disabled: #15304C;
  --background-secondary-alt: #2c629d;
  --background-secondary: #285077;
  --background-mobile-secondary: #3A6EA5;
  --scrollbar-auto-scrollbar-color-track: #3A6EA5;
  --background-primary:url(https://i.imgur.com/rxvIL0d.png);
  --home-image:url("https://i.imgur.com/z6YKANS.png");
  --background-mobile-primary:#4477b8;
  --deprecated-store-bg:#4477b8;
  --channeltextarea-background:#558dcb;
  --header-secondary:#fff;
  --text-normal:#fff;
  --text-muted:#fff;
  --interactive-normal:#fff;
  --interactive-muted:#fff;
  --interactive-hover:#fff;
  --interactive-active:#fff;
  --background-modifier-hover:#00f;
  --background-modifier-active:#009;
  --background-modifier-selected:#00f;
  --background-modifier-accent:rgba(0,0,1,0.2);
  --channels-default:#fff;
  --background-accent:#fff;
  --background-floating:#1D538D;
}

div[class*="typeWindows-"]::after {
	content: url("https://i.imgur.com/O98wliF.png");
	font-weight: bold;
	line-height: 31px;
	color: var(--text-muted);
	font-size: 14px;
	position: absolute;
	padding: 0px 12px;
	top: -10px;
	left: -6px;
	width: 100%;
	height: 30px;
	background: #00f;
	z-index: -1;
  border: 1px solid black;
}

div[class*="typeWindows-"]>div:first-child {
	display: none;
}

div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/110% no-repeat;
}

#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}


.messageAttachment-1aDidq{
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

.embedVideo-3nf0O9 {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

[data-popout-root].newBrand, html.newBrand{
  --font-display:Tahoma;
}
