/**
 * @name Discord 2000
 * @author DaytonaBandcamp
 * @version 0.1
 * @description A Windows 2000-inspired theme for Discord.
 * @source https://github.com/daytonabandcamp/discord2000/
*/

@import url('https://github.com/daytonbandcamp/discord2000/base.css');

:root{
  --font-primary:Tahoma;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
